<div class="col-sm-8 col-sm-offset-2" style="border:1px solid #ccc; min-height:400px;padding:0;background:#2098D1 url('/img/bg.png') center center;">
     <div class="col-xs-12 navbar" style="border:1px solid #ccc; height:50px;background-color:#fff;border-radius:0">
          <span style="margin-top:.8em; font-weight:bold;font-size:2em"><img src="img/logof.png" height="40"></span>
          <button class="btn btn-sm btn-default pull-right" style="margin-top:.8em;margin-left:1em">login</button>
          <button class="btn btn-sm btn-default pull-right" style="margin-top:.8em;">signup</button>
     </div>
     <div class="col-xs-12">
          <span style="display:inline-block; padding:0em 2em; font-size:4em; font-weight: light; text-align:center">
              Buy airtime with your <br> <typeform good-text="feedback." bad-text="credit card."></typeform>
          </span>
     </div>
</div>
<div class="col-sm-8 col-sm-offset-2" style="margin-bottom:2em; margin-top:-90px" >
    <div class="col-sm-3 clearfix" style="height:300px;padding:.5em; padding-top:10px" ng-repeat="card in cards">
        <div class="col-xs-12" style="height:200px;border-radius:5px; border:1px solid #ccc; background-color:#fff;box-shadow:0em 0em .3em .01em #ccc" ng-click="saveCard(card)">
             <h5 style="padding:.3em">
                 {{card.name}}
                 <span class="pull-right">{{card.amount | currency:'NGN'}}</span>
              </h5>
              <div class="col-xs-12" style="margin-top:1.5em; margin-bottom:1.4em; height:2.5em; background-color:#ccc; text-align:center" ng-hide="card.visible && card == savedCard">
                   <span style="display:inline-block; margin-top:.5em">XXXXXPINXXXXX</span>
              </div>
              <div class="col-xs-12" style="margin-top:1.5em; margin-bottom:1.4em; height:2.5em; background-color:#5cb85c; text-align:center" ng-show="card.visible && card == savedCard">
                   <span style="display:inline-block; margin-top:.5em; color:#fff">{{card.asyncPin}}</span>
              </div>

              <!--Integrating the taskcoin button in the view-->
              <div class="col-xs-12" style="padding:0">
                <span class="btn btn-default" style="display:block; padding:.5em; text-align:center;border:2px solid #FDC740; border-radius:5px; width:100%"
                      ng-click="clickBtn()"><img src="http://localhost:5001/img/logo.png" height="17"
                        ng-hide="card.visible">
                       checkout
                 </span>
                 <button class="btn btn-default btn-block btn-sm" ng-show="card.visible" ng-click="refresh()">refresh</button>
              </div>
        </div>
    </div>
</div
